/.settings
/bin
/lib
/out
/src/resources
/banlog.txt
/settings
/settings.txt
/LTT IRC Bot.iml
/chatlog.txt
/timestamps.txt
/.classpath
/.project
/.idea
src/main/resources/com.domhauton.wanbot.bot-dev.properties
src/main/resources/com.domhauton.wanbot.bot.properties
.gradle/

