<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEOUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="MessageFileAppender" fileName="logs/messages.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="AsyncMessageFileAppender">
            <AppenderRef ref="MessageFileAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="Message Log" level="info">
            <AppenderRef ref="AsyncMessageFileAppender"/>
        </Logger>
        <Logger name="Action Log" level="info">
            <AppenderRef ref="AsyncMessageFileAppender"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
